{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 40px; color: #1240AB; text-decoration: none; font-weight: 700; font-size: 25px; font-family:'GraphikTT',Arial,sans-serif; opacity: 1; margin-left: 10%; margin-bottom: 25px">Авторизация</h1>
    <form action="" method="post" style="margin-left: 12%; margin-bottom: 10px">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(style="color: #000; text-decoration: none; font-weight: 500; font-size: 17px; font-family:'GraphikTT',Arial,sans-serif; opacity: 1") }}<br>
            {{ form.email(class="form-control", type="email", style="border-radius: 7px; text-decoration: none; font-weight: 350; font-size: 17px; font-family:'GraphikTT',Arial,sans-serif; color: #000; opacity: 0.9; width: 78%; padding: 5px 10px; margin-top: 10px; margin-bottom: 10px") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(style="color: #000; text-decoration: none; font-weight: 500; font-size: 17px; font-family:'GraphikTT',Arial,sans-serif; opacity: 1") }}<br>
            {{ form.password(class="form-control", type="password", style="border-radius: 7px; text-decoration: none; font-weight: 350; font-size: 17px; font-family:'GraphikTT',Arial,sans-serif; color: #000; opacity: 0.9; width: 78%; padding: 5px 10px; margin-top: 10px; margin-bottom: 10px") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="margin-bottom: 30px">{{ form.remember_me(style="width: 15px; height: 15px") }} {{ form.remember_me.label(style="color: #000; text-decoration: none; font-weight: 500; font-size: 17px; font-family:'GraphikTT',Arial,sans-serif") }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="margin-bottom: 20px; color: #1240AB; background-color: #B0BDED; border-radius: 100px; text-decoration: none; font-weight: 350; font-size: 20px; font-family:'GraphikTT',Arial,sans-serif; border: 0px; margin-bottom: 20px; padding: 10px 20px") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}